<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quran Verse Semantic Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Quran Verse Semantic Search</h1>
        <div class="description">Search the Holy Quran by topic to discover relevant verses and their meanings</div>
        <form action="/search" method="POST" id="search-form">
            <div class="search-container">
                <input type="text" class="search-box" placeholder="Topics..." name="topic" id="topic" required>
                <button class="submit-button"></button>
            </div>
        </form>
    </div>
    <div class="results" id="results">
    </div>
    <div class="loading-overlay hidden" id="loadingOverlay">
        <div class="loader"></div>
    </div>
</div>
<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form from actually submitting
    const loader = document.getElementById("loadingOverlay");
    const topic = document.getElementById('topic').value; // Get value from input field with id 'topic'
    loader.classList.remove('hidden');
    fetch('/query', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'query': topic })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            const resultsContainer = document.getElementById('results'); // Create a container element in your HTML
            resultsContainer.innerHTML = ''; // Clear previous results

            data.results.forEach(result => {
                const card = document.createElement('div');
                card.classList.add('result-card');

                card.innerHTML = `
                    <p class="result-arabic">${result.arabic}</p>
                    <hr>
                    <p class="result-text">${result.en_translation}</p>
                    <p class="result-reference">Surah ${result.surah_no}, Verse ${result.verse_no}</p>
                `;

                resultsContainer.appendChild(card);
                loader.classList.add('hidden');
            });
        } else {
            // Handle error, e.g., display an error message
            console.error('API request failed:', data.status);
            alert("Failed to search for verses. Please try again a few seconds later.");
            loader.classList.add('hidden');
        }
    })
    .catch(error => {
        // Handle network errors or other exceptions
        console.error('API request error:', error);
        alert("Failed to search for verses. Please try again a few seconds later.");
        loader.classList.add('hidden');
    });
});

</script>
</body>
</html>