<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    <title>Quran Verse Semantic Search</title>
    <meta name="description" content="Find Quranic verses related to any topic using advanced semantic search. Explore the wisdom of the Quran effortlessly.">
    <meta name="keywords" content="Quran, Quranic verses, Islamic search, Quran search, Quran by topic, Quran AI">
    <meta name="author" content="aodihis">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Quranic Verse Finder - Search by Topic">
    <meta property="og:description" content="Find Quranic verses related to any topic using advanced semantic search.">
    <meta property="og:image" content="https://quran-semantic-search-m3g7.onrender.com/static/thumbnail-qvs.jpg">
    <meta property="og:url" content="https://quran-semantic-search-m3g7.onrender.com">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Quranic Verse Finder - Search by Topic">
    <meta name="twitter:description" content="Find Quranic verses related to any topic using advanced semantic search.">
    <meta name="twitter:image" content="https://quran-semantic-search-m3g7.onrender.com/static/thumbnail-qvs.jpg">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://quran-semantic-search-m3g7.onrender.com">

    <!-- Robots -->
    <meta name="robots" content="index, follow">

    <!-- JSON-LD Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Quranic Verse Finder",
      "url": "https://quran-semantic-search-m3g7.onrender.com",
      "description": "Find Quranic verses related to any topic using advanced semantic search.",
      "image": "https://quran-semantic-search-m3g7.onrender.com/static/thumbnail-qvs.jpg",
      "author": {
        "@type": "Person",
        "name": "Your Name"
      },
    }
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Quran Verse Semantic Search</h1>
        <div class="description">Search the Holy Quran by topic to discover relevant verses and their meanings</div>
        <form action="/search" method="POST" id="search-form">
            <div class="search-container">
                <input type="text" class="search-box" placeholder="Topics..." name="topic" id="topic" required>
                <button class="submit-button"></button>
            </div>
        </form>
    </div>
    <div class="results" id="results">
    </div>
    <div class="loading-overlay hidden" id="loadingOverlay">
        <div class="loader"></div>
    </div>
</div>
<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form from actually submitting
    const loader = document.getElementById("loadingOverlay");
    const topic = document.getElementById('topic').value; // Get value from input field with id 'topic'
    loader.classList.remove('hidden');
    fetch('/query', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'query': topic })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            const resultsContainer = document.getElementById('results'); // Create a container element in your HTML
            resultsContainer.innerHTML = ''; // Clear previous results

            data.results.forEach(result => {
                const card = document.createElement('div');
                card.classList.add('result-card');

                card.innerHTML = `
                    <p class="result-arabic">${result.arabic}</p>
                    <hr>
                    <p class="result-text">${result.en_translation}</p>
                    <p class="result-reference">Surah ${result.surah_no}, Verse ${result.verse_no}</p>
                `;

                resultsContainer.appendChild(card);
                loader.classList.add('hidden');
            });
        } else {
            // Handle error, e.g., display an error message
            console.error('API request failed:', data.status);
            alert("Failed to search for verses. Please try again a few seconds later.");
            loader.classList.add('hidden');
        }
    })
    .catch(error => {
        // Handle network errors or other exceptions
        console.error('API request error:', error);
        alert("Failed to search for verses. Please try again a few seconds later.");
        loader.classList.add('hidden');
    });
});

</script>
</body>
</html>